python
absl-py
astor
cachetools
certifi
chardet
click
Flask
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt
zipp